<!DOCTYPE html>
<html>
<head>
    <title>My Notes</title>
</head>
<body>
    <h1>Welcome to My Notes</h1>
    <ul>
        {% for note in notes %}
            <li>{{ note.title }} - {{ note.description }}</li>
        {% endfor %}
    </ul>
</body>
</html>
